From :	 	<b>SYSADMIN</b><br>
To	 :		  <b>[$FULLNAME$]</b><br>
Sent : 	<b>[$CURRENTDATE$]</b><br>
ID   :  <b>Leave-Request-[$LEAVEREQUESTID$]</b><br><br>


Hi [$FULLNAME$],<br/><br/>


Start Date:[$SDATE$]<br>
End Date:[$EDATE$]<br>


[$COMMENTS$]<br><br>

This notification is for information only. 







